PORT=5001
MONGO_URI=your-mongo-db-connection-here
JWT_SECRET=your-secret
JWT_COOKIE_EXPIRES_IN=30
MAILTRAP_USERNAME=mailtrap-username
MAILTRAP_PASSWORD=mailtrap-password
MAILTRAP_HOST=mailtrap-host
MAILTRAP_PORT=mailtrap-port