PORT=5001
MONGO_URI=your-mongo-db-connection-here
JWT_SECRET=your-secret
JWT_COOKIE_EXPIRES_IN = 30
MAILTRAP_USERNAME = a98e89a51a5abb
MAILTRAP_PASSWORD = 691552eb9b87d3
MAILTRAP_HOST = sandbox.smtp.mailtrap.io
MAILTRAP_PORT = 25